<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
    <header th:replace="layout/layout :: header"></header>

    <div class="container py-4">

        <div class="card bg-light">

            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">
                <h4 class="card-title">
                    <a class="btn btn-primary btn-xs" th:href="@{/form}">Crear Cliente</a>
                </h4>
                <table class="table table-striped table-hover table-bordered">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th>Detalle</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Fecha</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr th:each="c: ${clientes}">
                            <td>
                                <a class="btn btn-success btn-xs" th:href="@{/ver/} + ${c.id}" th:text="'Detalle'"></a>
                            </td>
                            <td scope="col" th:text="${c.nombre}"></td>
                            <td scope="col" th:text="${c.apellido}"></td>
                            <td scope="col" th:text="${c.email}"></td>
                            <td scope="col" th:text="${c.createAt}"></td>
                            <td scope="col" class="text-center">
                                <a class="btn btn-warning btn-xs" th:href="@{/form/} + ${c.id}" th:text="'editar'"></a>
                                <a class="btn btn-danger btn-xs" th:href="@{/eliminar/} + ${c.id}" th:text="'eliminar'" onclick="return confirm('Estas seguro ?');"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <nav th:replace="paginator-nav :: paginator"></nav>

            </div>

        </div>

    </div>

    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>